@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Inter";
}
body {
    width: 100%;
    
}
:root {
    --letra-avatar: #ffffff;
    --background-main: #3b414e;
    --background-footer: #1e1e1e; 
    --linha: #727274;
    --bloco: #30333d;
    --spotify: #1ed65f;
    --youtube: #ff0000;
    --apple: black;
}
.background::before {
    content: "";
    background: url(imagens/perfil/capa1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background {
    position: relative;
    margin: auto;
    width: 100%;
    
    overflow: hidden; /* Para ocultar o excesso de imagem embaçada */
}

.container {
    display: flex;
}
.conteudo {
    margin: auto;
    width: 74%;
    padding-top: 20px;
}
main {
    height: 100%;
    padding: 0px 40px 0px 40px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1000px;
}
a{
    text-decoration: none;
}
a:hover .spotify-letra {
    text-shadow: 0px 0px 15px var(--spotify);
    transition: 0.5s;
    color: var(--spotify);
}
a:hover .youtube-letra {
    text-shadow: 0px 0px 15px var(--youtube);
    transition: 0.5s;
    color: var(--youtube);
}
a:hover .apple-letra{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: var(--apple);
    transition: 0.5s;
}
.triangulo {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    border-right: 0px;
    border-left: 16px solid var(--letra-avatar);
}
a:hover .spotify {
    border-left: 16px solid var(--spotify);
    transition: 0.5s;
}
a:hover .youtube {
    border-left: 16px solid var(--youtube);
    transition: 0.5s;
}
a:hover .apple {
    border-left: 16px solid var(--apple);
    transition: 0.5s;
}
  
.linha {
    margin: auto;
    background-color: var(--linha);
    width: 40%;
    height: 1.2px;
}
.bloco-avatar {
    display: flex;
    margin: auto;
    align-items: center;
    width: 40%;
    height: 165px;
    background-color: var(--bloco);
    text-decoration: none;
    border-radius: 12px 15px 0px 0px;

    background-image: url(imagens/perfil/avat.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
article {
    width: 100%;
    text-align: center;
    color: var(--letra-avatar);
}
article > p {
    padding-top: 10px;
}
.bloco-desc {
    display: flex;
    margin: auto;
    align-items: center;
    width: 40%;
    height: 120px;
    background-color: var(--bloco);
}
.bloco {
    display: flex;
    margin: auto;
    align-items: center;
    width: 40%;
    height: 150px;
    background-color: var(--bloco);
    text-decoration: none;
}
.bloco-into-left {
    
    width: 65%;
    text-align: center;
    margin: auto;
}
.bloco-into-right {
    width: 35%;
    text-align: center;
    
}
.play {
    width: 15%;
}
.text-play {
    margin-top: 5px;
    color: var(--letra-avatar);
}
.bloco-img {
    width: 70%;
    
}

.footer{
    background:var(--background-footer);
    padding:30px 0px;
    margin-top: 15px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}

.linha {
    margin: auto;
    background-color: var(--linha);
    width: 100%;
    height: 1.2px;
}
.bloco-avatar {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 165px;
    background-color: var(--bloco);
    text-decoration: none;
    border-radius: 12px 15px 0px 0px;

    background-image: url(imagens/perfil/avat.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
article {
    width: 100%;
    text-align: center;
    color: var(--letra-avatar);
}
article > p {
    padding-top: 10px;
}
.bloco-desc {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--bloco);
}
.bloco {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--bloco);
    text-decoration: none;
}
.bloco-into-left {
    
    width: 65%;
    text-align: center;
    margin: auto;
}
.bloco-into-right {
    width: 35%;
    text-align: center;
    
}
.play {
    width: 15%;
}
.text-play {
    margin-top: 5px;
    color: var(--letra-avatar);
}
.bloco-img {
    width: 70%;
    
}
}
